.bg-img-1{
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.851) 100%), url("../../../../assets/group-elephants-walking-dry-grass-wilderness.jpg");
  background-position:center;
}
.bg-img-2{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.939) 0%, rgba(0, 0, 0, 0.35) 100%), url('../../../../assets/flamingo.jpg');
    background-position: center;
}
.bg-img-3{
    /* background:url(../../../../assets/video/nature-makes-you-happy-bbc-earth-online-video-cuttercom-hzd7mbhc-1_9hkSfGt2.mp4); */
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.898) 0%, rgba(0, 0, 0, 0.422) 100%), url('../../../../assets/selective-focus-shot-beautiful-bird-flying-high-forest.jpg');
    background-position: center;
}
.img-utilite{
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh;
}