.bg-img-1{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.4)), url("../../../../assets/travel-concept-with-landmarks.jpg");
  background-position:center;
}
.bg-img-2{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.6)), url('../../../../assets/beautiful-tropical-beach-sea.jpg');
    background-position: center;
}
.bg-img-3{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.6)), url('../../../../assets/water-famous-architecture-finance-shanghai-tower.jpg');
    background-position: center;
}
.img-utilite{
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh;
}